/* Container Scoping */
.alphabetical-product-listing {
    width: 100%;
    max-width: 1048px;
    margin: 0 auto;
}

/* this css for make the search :placeholder  authorable  */
.alphabetical-product-listing .default-content-wrapper:last-child {
    display: none;
}

/* Header & Search (Safe Chaining) */
.alphabetical-product-listing .default-content-wrapper,
.alphabetical-product-listing .search-wrapper,
.alphabetical-product-listing .product-index-wrapper {
    padding: 0;
}

.alphabetical-product-listing .default-content-wrapper p {
    font-family: var(--Manrope, sans-serif);
    ;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 54px;
    color: var(--midnight-blue, #0F1B2D);
}

.alphabetical-product-listing .search-box {
    position: relative;
    max-width: unset;
    margin: 0 auto 54px;
    width: 100%;
    border: 1px solid #E0E6EE;
    border-radius: 60px;
}

.alphabetical-product-listing input.search-input {
    background: unset;
    padding: 24px 40px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}

/* Alphabet Nav */
.alphabetical-product-listing .alphabet-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 32px;
    color: #ccc;
    font-weight: 500;
    grid-area: alphabet;
    cursor: pointer;
}

.alphabetical-product-listing .alphabet-letter {
    cursor: pointer;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    color: #9EA2A6;
}

.alphabetical-product-listing .alphabet-letter.active {
    color: var(--primary, #1F69FF);
    cursor: pointer;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;

}

/* The Horizontal Row (Cards + View All) */
.alphabetical-product-listing .product-index-wrapper .product-index {
    display: grid;
    align-items: center;
    /* Vertically aligns View All with cards */
    justify-content: center;
    grid-template-areas: "alphabet alphabet"
        "cards view-all";
}

.alphabetical-product-listing .alphabet-cards {
    display: flex;
    gap: 16px;
    grid-area: cards;
}

/* Card Styling based on 166px x 70px dimensions */
.alphabetical-product-listing .card {
    background-color: #3174ee;
    color: var(--pure-white, #FFFFFF);
    min-width: 166px;
    /* Fixed width from your SS */
    height: 70px;
    /* Fixed height from your SS */
    padding: 12px 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.alphabetical-product-listing .card .title {
    margin-bottom: 2px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--pure-white, #FFFFFF);
}

.alphabetical-product-listing .card .subtitle {
    opacity: 0.8;
    font-family: var(--Inter, sans-serif);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #E6E6E6;
}

/* View All Link Alignment */
.alphabetical-product-listing .view-all {
    color: var(--primary, #1F69FF);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-area: view-all;
    margin-left: 24px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    align-content: center;
}

/* --- MOBILE RESPONSIVENESS --- */
@media (max-width: 768px) {

    .alphabetical-product-listing .default-content-wrapper,
    .alphabetical-product-listing .search-wrapper,
    .alphabetical-product-listing .product-index-wrapper .alphabet-nav {
        padding: 0 24px;
    }

    .alphabetical-product-listing .alphabet-cards {
        margin-left: 24px;
        overflow: auto;
        display: flex;
        align-items: center;
    }

    .alphabetical-product-listing .alphabet-letter,
    .alphabetical-product-listing .alphabet-letter.active {
        font-size: 20px;
        line-height: 100%;
    }

    .alphabetical-product-listing .default-content-wrapper p {
        font-size: 30px;
        line-height: 36px;
    }
}

/* css for alphabetical list variant 2  */
.alphabetical-product-listing-variant-2 {
    font-family: var(--Manrope, sans-serif);
    padding: 40px 20px;
    background-color: var(--pure-white, #FFFFFF);
    text-align: center;
    display: grid;
    grid-template-areas:
        "title search"
        "title alphabetcard";
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    column-gap: 32px;
    padding: 0px;
}

/* this css for make the search :placeholder  authorable  */
.alphabetical-product-listing-variant-2 .default-content-wrapper:last-child {
    display: none;
}

/* Header & Search (Safe Chaining) */
.alphabetical-product-listing-variant-2 .default-content-wrapper {
    grid-area: title;
    width: 100%;
    max-width: 580px;
    height: 100%;
    padding: unset;
    padding-right: 32px;

}

.alphabetical-product-listing-variant-2 .search-wrapper {
    grid-area: search;
    width: 100%;
    padding: 0;
}

.alphabetical-product-listing-variant-2 .default-content-wrapper p {
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 54px;
    color: var(--midnight-blue, #0F1B2D);
    text-align: left;
}

.alphabetical-product-listing-variant-2 .search-box {
    position: relative;
    max-width: unset;
    margin: 0 auto 54px;
    width: 100%;
    border: 1px solid #E0E6EE;
    border-radius: 60px;
}

.alphabetical-product-listing-variant-2 .search-input {
    background: unset;
    padding: 24px 40px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}

/* Alphabet Nav */
.alphabetical-product-listing-variant-2 .alphabet-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 32px;
    color: #ccc;
    font-weight: 500;
    grid-area: alphabet;
    cursor: pointer;
}

.alphabetical-product-listing-variant-2 .alphabet-letter {
    cursor: pointer;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    color: #9EA2A6;
}

.alphabetical-product-listing-variant-2 .alphabet-letter.active {
    color: var(--primary, #1F69FF);
    cursor: pointer;
    font-family: var(--Manrope, sans-serif);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
}

/* The Horizontal Row (Cards + View All) */
.alphabetical-product-listing-variant-2 .product-index-wrapper {
    grid-area: alphabetcard;
    padding: 0;
}

.alphabetical-product-listing-variant-2 .product-index-wrapper .product-index {
    display: block;
    align-items: center;
    /* Vertically aligns View All with cards */
    justify-content: center;
    gap: 15px;
    grid-template-areas: "alphabet alphabet"
        "cards view-all";
}

.alphabetical-product-listing-variant-2 .alphabet-cards {
    display: flex;
    gap: 16px;
    grid-area: cards;
    flex-direction: column;
    padding: 24px 24px 40px;
    height: 314px;
    overflow: scroll;
}

/* Card Styling based on 166px x 70px dimensions */
.alphabetical-product-listing-variant-2 .card {
    color: var(--pure-white, #FFFFFF);
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.alphabetical-product-listing-variant-2 .card .title {
    margin-bottom: 2px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--midnight-blue, #0F1B2D);
}

.alphabetical-product-listing-variant-2 .card .title::first-letter {
    color: #3174ee;
}

.alphabetical-product-listing-variant-2 .card .subtitle {
    font-family: var(--Inter, sans-serif);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--medium-gray, #626262);
    opacity: 0.8;
}

/* View All Link Alignment */
.alphabetical-product-listing-variant-2 .view-all {
    color: var(--primary, #1F69FF);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-area: view-all;
    margin-left: 24px;
    font-family: var(--Manrope, sans-serif);
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0%;
    align-content: center;
}

/* --- MOBILE RESPONSIVENESS --- */
@media (max-width: 768px) {
    .section.alphabetical-product-listing-variant-2 {
        grid-template-areas:
            "title"
            "search"
            "alphabetcard";
        padding: 0px 24px;

    }

    .alphabetical-product-listing-variant-2 .alphabet-letter,
    .alphabetical-product-listing-variant-2 .alphabet-letter.active {
        font-size: 20px;
        line-height: 100%;
    }

    .alphabetical-product-listing-variant-2 .default-content-wrapper p {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
    }
}